{% extends 'layout/base.html' %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="alert alert-primary" role="alert">
                    <h5>Изменение пароля.</h5>
                    <p>Пожалуйста введите новый пароль дважды.</p>
                </div>
                <hr/>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}