{% extends 'layout/base.html' %}

{% block title %}
    Пароль успешно сброшен
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="alert alert-primary" role="alert">
                    <h5 class="text-dark">Мы отправили форму для восстановления пароля вам на почту.</h5>
                    <h5 class="text-dark">Пожалуйста следуйте указанным инструкциям в письме.</h5>
                    <hr/>
                    <h6 class="text-dark">С уважением, администрация сайта.</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}