{% extends 'layout/base.html' %}

{% block title %}
    {{ rubric }}
{% endblock %}

{% block content %}
    <div class="alert alert-light" role="alert">
        <h5>{{ rubric }}</h5>
        <hr/>
        {% if not bbs %}
            <h6> Объявления по данной рубрике еще не добавлены.</h6>
            <br>
            <a href="{% url "add" %}">
                <button type="button" class="btn btn-primary">Добавить объявление</button>
            </a>
            </p>
        {% endif %}
    </div>
    <div class="container">
        {% for bb in bbs %}
            <div class="card mb-2" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{% url "detail" pk=bb.pk %}"><img src="{% if bb.image %}{{ bb.image.url }}{% endif %}"
                                                                   class="img-fluid rounded-start"
                                                                   alt="Фотография еще не добавлена"></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{% url "detail" pk=bb.pk %}"><h5 class="card-title">{{ bb.title }}</h5></a>
                            <p class="card-text">{{ bb.content }}</p>
                            <p class="card-text">Цена: {{ bb.price }} руб.</p>
                            <p class="card-text"><small class="text-muted">Добавлено: {{ bb.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if bbs %}
            <hr/>
        {% endif %}
    </div>
    {% if bbs %}
        {% include "includes/bb_paginator.html" %}
    {% endif %}
{% endblock %}