{% extends 'layout/base.html' %}

{% block title %}
    {{ bb.title }} - {{ bb.rubric.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-4">
                <h5 class="text-primary">{{ bb.title }}</h5>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="card mb-3" style="max-height: 800px;">
                <div class="row g-0">
                    {% if bb.image %}
                        <div class="col-md-5">
                            <img src="{{ bb.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                    {% endif %}
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">{{ bb.title }}</h5>
                            <p class="card-text">{{ bb.content }}</p>
                            <p class="font-weight-bold">{{ bb.price }} руб.</p>
                            <p class="card-text">Контакты: {{ bb.contacts }}</p>
                            <p class="card-text"><small class="text-muted">Добавлено: {{ bb.created_at }}</small></p>
                            <a href="{% url "change" pk=bb.pk %}">
                                <button type="button" class="btn btn-primary">Изменить</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}