{% extends 'layout/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <h4 class="{{ message.tags }}">{{ message }}</h4>
                <br>
                <a href="{% url "profile" %}">
                    <button type="button" class="btn btn-primary">Вернуться в профиль</button>
                </a>
            </div>
        {% endfor %}
    {% endif %}
    <h1>Последние 10 объявлений</h1>
{% endblock %}