{% extends 'layout/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if form.errors %}
            <div class="row">
                <div class="col-5">
                    <p class="text-danger">
                        Пожалуйста проверьте правильность <br>введенных данных.
                        <a href="{% url "login" %}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="True">&times;</span>
                            </button>
                        </a>
                    </p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-3">
                <h3>Вход</h3>
                {% if user.is_authenticated %}
                    <p>Вы уже выполнили вход</p>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Имя пользователя</label>
                            {% render_field form.username id="username" class="form-control" %}
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            {% render_field form.password id="password" class="form-control" type="password" %}
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}