{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Изменение пароля
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if messages %}
            <div class="row">
                <div class="col-7">
                    {% for message in messages %}
                        <div class="container-fluid p-0">
                            <h6 class="text {{ message.tags }}">{{ message }}
                                <a href="{% url "change_password" %}">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="True">&times;</span>
                                    </button>
                                </a>
                            </h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <h2>Смена пароля</h2>
                </div>
                <hr/>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Старый пароль</label>
                        {% render_field form.old_password id="old_password" class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">Новый пароль</label>
                        {% render_field form.new_password1 id="new_password1" class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Повторите пароль</label>
                        {% render_field form.new_password2 id="new_password2" class="form-control" %}
                    </div>
                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}