{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Добавление нового объявления
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <h4 class="{{ message.tags }}">{{ message }}</h4>
                <br>
                <a href="{% url "profile" %}">
                    <button type="button" class="btn btn-primary">Вернуться в профиль</button>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="container">
            <h4 class="text-primary">Добавление нового объявления</h4>
            <br>
            {% include 'includes/profile_bb_change_add.html' %}
        </div>
    {% endif %}
{% endblock %}