<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>
</head>
<body class="container-fluid">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<br>
<header>
    <h1 class="text-center">Объявления</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav col nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Профиль
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Мои объявления</a></li>
                            <li><a class="dropdown-item" href="{% url "change_profile" %}">Изменить
                                личные данные</a></li>
                            <li><a class="dropdown-item" href="{% url "change_password" %}">Изменить пароль</a></li>
                            <li><a class="dropdown-item" href="{% url "delete" pk=user.id %}">Удалить</a></li>
                            <li><a class="dropdown-item" href="{% url "logout" %}">Выйти</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "register" %}">Регистрация</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "other_page" page="about" %}">О сайте</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout_confirm" %}">Выход</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<br>
<div class="row">
    <div class="col-2">
        <nav class="col-md-auto nav flex-column border">
            <h5><a class="nav-link root font-weight-bold" href="{% url "index" %}">Главная</a></h5>
            {% for rubric in rubrics %}
                <span class="nav-link root font-weight-bold"><strong>{{ rubric.name }}</strong></span>
                <div class="container">
                    {% for sub_rubric in rubric.sub_rubrics.all %}
                        <div class="row">
                            <a class="nav-link" href="{% url "by_rubric" pk=sub_rubric.pk %}">{{ sub_rubric.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </nav>
    </div>
    <div class="col-10">
        <section class="col  py-2">
            {% block content %}
            {% endblock %}
        </section>
    </div>
</div>
</body>
</html>